@model Usuario

@{
    ViewData["Title"] = "Confirmação excluir usuário";
}

<div class="text-center">
    <h3>Confirma a exclusão do usuário: @Model.Nome ?</h3>
</div>

<a class="btn btn-primary" role="button" asp-asp-controller="Usuarios" asp-action="Index">Cancelar</a>
<a class="btn btn-danger" role="button" asp-asp-controller="Usuarios" asp-action="Delete" asp-route-id="@Model.Id">Confirmar</a>
